medicharts/MediClient/Web References/ChartService/ChartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChartSoapIn">
    <wsdl:part name="parameters" element="tns:GetChart" />
  </wsdl:message>
  <wsdl:message name="GetChartSoapOut">
    <wsdl:part name="parameters" element="tns:GetChartResponse" />
  </wsdl:message>
  <wsdl:portType name="ChartServiceSoap">
    <wsdl:operation name="GetChart">
      <wsdl:input message="tns:GetChartSoapIn" />
      <wsdl:output message="tns:GetChartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChartServiceSoap" type="tns:ChartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetChart">
      <soap:operation soapAction="http://tempuri.org/GetChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChartService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="ChartServiceSoap" binding="tns:ChartServiceSoap">
      <soap:address location="http://localhost/MediService/ChartService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>